                        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
                        * {
                            font-family: 'Nunito', sans-serif;
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                            text-decoration: none;
                            outline: none;
                            border: none;
                            text-transform: capitalize;
                            scroll-behavior: smooth;
                            transition: all .2s linear;
                        }
                        
                        header .icons #menu-bars {
                            display: none;
                        }
                        
                        section {
                            padding: 15px 9%;
                        }
                        
                        .wrapper {
                            max-width: 90%;
                            margin: auto;
                        }
                        
                        .sub-heading {
                            text-align: center;
                            color: #27ae60;
                            font-size: 24px;
                            padding-top: 14px;
                        }
                        
                        .heading {
                            text-align: center;
                            color: #192a56;
                            font-size: 30px;
                            padding-bottom: 20px;
                            text-transform: uppercase;
                        }
                        
                        .btn {
                            margin-top: 12px;
                            display: inline-block;
                            font-size: 17px;
                            color: #fff;
                            background: #192a56;
                            border-radius: 8px;
                            cursor: pointer;
                            padding: 9px 30px;
                        }
                        
                        .btn:hover {
                            background: #27ae60;
                            letter-spacing: 1px;
                        }
                        
                        header {
                            width: 100%;
                            top: 0;
                            left: 0;
                            right: 0;
                            background: #fff;
                            padding: 10px 90px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            box-shadow: 0 8px 22px rgba(0, 0, 0, .1);
                            z-index: 1;
                            position: fixed;
                        }
                        
                        header .logo {
                            font-size: 28px;
                            font-weight: bolder;
                            color: #192a56;
                        }
                        
                        header .logo i {
                            color: #27ae60;
                        }
                        
                        header .navbar a {
                            font-size: 16px;
                            border-radius: 8px;
                            padding: 8px 18px;
                            color: #666;
                        }
                        
                        header .navbar a.active,
                        header .navbar a:hover {
                            color: #fff;
                            background: #27ae60;
                        }
                        
                        header .icons i,
                        header .icons a {
                            cursor: pointer;
                            margin-left: 2px;
                            height: 42px;
                            line-height: 42px;
                            width: 42px;
                            text-align: center;
                            font-size: 14px;
                            color: #192a56;
                            border-radius: 50%;
                            background: #eee;
                        }
                        
                        header .icons i:hover,
                        header .icons a:hover {
                            color: #fff;
                            background: #27ae60;
                            transform: rotate(360deg);
                        }
                        /*
#search-form{
    position: fixed;
    top:0; left:0; 
    height:100%; width:100%;
    z-index: 2;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}
#search-form #search-box{
    width:500px;
    border-bottom: .1rem solid #fff;
    padding:8px 0;
    color:#fff;
    font-size: 25px;
    text-transform: none;
    background:none;
}
#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 22px;
}

#search-form label:hover{
    color:#27ae60;
}
#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top:16px; right:40px;
    font-size: 30px;
} 
*/
                        /*----------header section  start----------*/
                        /*----------home section  start----------*/
                        
                        .home .home-slider .slide {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            gap: 100px;
                            padding-top: 90px;
                        }
                        
                        .home .home-slider .slide .content {
                            flex: 1 1 0px;
                            justify-content: space-between;
                        }
                        
                        .home .home-slider .slide .image img {
                            width: 100%;
                        }
                        
                        .home .home-slider .slide .content span {
                            color: #27ae60;
                            font-size: 32px;
                        }
                        
                        .home .home-slider .slide .content h3 {
                            color: #192a56;
                            font-size: 65px;
                        }
                        
                        .home .home-slider .slide .content p {
                            color: #666;
                            font-size: 20px;
                            padding: 8px 0;
                            line-height: 1.5;
                        }
                        
                        .owl-nav {
                            text-align: center;
                            font-size: 30px;
                        }
                        /*-----------home section end-----------*/
                        /*----------------dishes section start------------*/
                        
                        .dishes {
                            background-color: #eee;
                        }
                        
                        .dishes .box-container {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                            gap: 18px;
                        }
                        
                        .dishes .box-container .box {
                            padding: 20px;
                            background: #fff;
                            border-radius: 8px;
                            border: 1px solid rgba(0, 0, 0, .2);
                            position: relative;
                            overflow: hidden;
                            text-align: center;
                        }
                        
                        .dishes .box-container .box .fa-heart,
                        .dishes .box-container .box .fa-eye {
                            position: absolute;
                            top: 20px;
                            background: #eee;
                            border-radius: 50%;
                            height: 45px;
                            width: 45px;
                            line-height: 45px;
                            font-size: 20px;
                            color: #192a56;
                        }
                        
                        .dishes .box-container .box .fa-heart:hover,
                        .dishes .box-container .box .fa-eye:hover {
                            background: #27ae60;
                            color: #fff;
                        }
                        
                        .dishes .box-container .box .fa-heart {
                            right: -50px;
                        }
                        
                        .dishes .box-container .box .fa-eye {
                            left: -50px;
                        }
                        
                        .dishes .box-container .box:hover .fa-heart {
                            right: 20px;
                        }
                        
                        .dishes .box-container .box:hover .fa-eye {
                            left: 20px;
                        }
                        
                        .dishes .box-container .box img {
                            height: 180px;
                            margin: 12px 0;
                        }
                        
                        .dishes .box-container .box h3 {
                            color: #192a56;
                            font-size: 27px;
                        }
                        
                        .dishes .box-container .box .stars {
                            padding: 10px 0;
                        }
                        
                        .dishes .box-container .box .stars i {
                            font-size: 16px;
                            color: #27ae60;
                        }
                        
                        .dishes .box-container .box span {
                            color: #27ae60;
                            font-weight: bolder;
                            margin-right: 12px;
                            font-size: 24px;
                        }
                        /*-------------about--------------*/
                        
                        .about .row {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;
                            align-items: center;
                        }
                        
                        .about .row .image {
                            flex: 1 1 200px;
                        }
                        
                        .about .row .image img {
                            width: 100%;
                        }
                        
                        .about .row .content {
                            flex: 1 1 200px;
                        }
                        
                        .about .row .content h3 {
                            color: #192a56;
                            font-size: 42px;
                            padding: 8px 0;
                        }
                        
                        .about .row .content p {
                            color: #666;
                            font-size: 16px;
                            padding: 5px 0;
                            line-height: 2;
                        }
                        
                        .about .row .content .icons-container {
                            display: flex;
                            gap: 16px;
                            flex-wrap: wrap;
                            padding: 16px 0;
                            margin-top: 6px;
                        }
                        
                        .about .row .content .icons-container .icons {
                            background: #eee;
                            border-radius: 8px;
                            border: 1px solid rgba(0, 0, 0, .2);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 14px;
                            flex: 1 1 18 px;
                            padding: 14px 18px;
                        }
                        
                        .about .row .content .icons-container .icons i {
                            font-size: 25px;
                            color: #27ae60;
                        }
                        /*--------------about section end-----------------*/
                        
                        .menu {
                            background-color: #eee;
                        }
                        
                        .menu .box-container {
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                            gap: 12px;
                        }
                        
                        .menu .box-container .box {
                            background: #fff;
                            border: 1px solid rgba(0, 0, 0, .2);
                            border-radius: 8px;
                            box-shadow: 0 .8px 20px rgba(0, 0, 0, .1);
                        }
                        
                        .menu .box-container .box .ideal {
                            height: 270px;
                            width: 100%;
                            padding: 15px;
                            overflow: hidden;
                            position: relative;
                        }
                        
                        .menu .box-container .box .ideal img {
                            height: 100%;
                            width: 100%;
                            border-radius: 8px;
                            object-fit: cover;
                        }
                        
                        .menu .box-container .box .ideal .fa-heart {
                            position: absolute;
                            top: 30px;
                            right: 30px;
                            height: 45px;
                            height: 45px;
                            width: 45px;
                            line-height: 45px;
                            text-align: center;
                            font-size: 25px;
                            background: #fff;
                            border-radius: 50%;
                            color: #192a56;
                        }
                        
                        .menu .box-container .box .ideal .fa-heart:hover {
                            background-color: #27ae60;
                            color: #fff;
                        }
                        
                        .menu .box-container .box .content {
                            padding: 20px;
                            padding-top: 0;
                        }
                        
                        .menu .box-container .box .content .stars {
                            padding-bottom: 12px;
                        }
                        
                        .menu .box-container .box .content .stars i {
                            font-size: 16px;
                            color: #27ae60;
                        }
                        
                        .menu .box-container .box .content h3 {
                            color: #192a56;
                            font-size: 25px;
                        }
                        
                        .menu .box-container .box .content p {
                            color: #666;
                            font-size: 18px;
                            padding: 4px 0;
                            line-height: 1.5;
                        }
                        
                        .menu .box-container .box .content .price {
                            color: #27ae60;
                            margin-left: 14px;
                            font-size: 23px;
                        }
                        /*----------------menu section end----------------*/
                        /*-------------review section start -------------*/
                        
                        .review .slide {
                            padding: 28px;
                            box-shadow: 0 8px 25px rgba(0, 0, 0, .1);
                            border: 1px solid rgba(0, 0, 0, .2);
                            border-radius: 25px;
                            position: relative;
                            width: 100%;
                            height: 100%;
                        }
                        
                        .review .slide .fa-quote-right {
                            position: absolute;
                            top: 24px;
                            right: 25px;
                            font-size: 27px;
                            color: #ccc;
                        }
                        
                        .review .slide .user {
                            display: flex;
                            gap: 25px;
                            align-items: center;
                            padding-bottom: 25px;
                        }
                        
                        .review .slide .user img {
                            height: 90px;
                            width: 90px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        
                        .review .slide .user h3 {
                            color: #192a56;
                            font-size: 22px;
                            padding-bottom: 8px;
                        }
                        
                        .review .slide .user i {
                            font-size: 16px;
                            color: #27ae60;
                        }
                        
                        .review .slide p {
                            font-size: 16px;
                            line-height: 1.8;
                            color: #666;
                        }
                        
                        .review-container {
                            grid-template-columns: 25% 25% 25% 25%;
                            display: grid;
                            column-gap: 12px;
                            row-gap: 12px;
                            justify-content: center;
                            padding: 15px 0;
                        }
                        /*---------------review section end---------------*/
                        /*---------------order section end---------------*/
                        
                        .order {
                            background-color: #ccc;
                        }
                        
                        .order form {
                            max-width: 74%;
                            border-radius: 10px;
                            box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
                            border: 2px solid rgba(0, 0, 0, .2);
                            background: #fff;
                            padding: 18px;
                            margin: 0 auto;
                        }
                        
                        .order form .inputBox {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }
                        
                        .order form .inputBox .input {
                            width: 49%;
                        }
                        
                        .order form .inputBox .input span {
                            display: block;
                            padding: 8px 0;
                            font-size: 17px;
                            color: #666;
                        }
                        
                        .order form .inputBox .input input,
                        .order form .inputBox .input textarea {
                            background: #eee;
                            border-radius: 8px;
                            padding: 12px;
                            font-size: 15px;
                            color: #192a56;
                            text-transform: none;
                            margin-bottom: 8px;
                            width: 100%;
                        }
                        
                        .order form .inputBox .input input:focus,
                        .order form .inputBox .input textarea:focus {
                            border: 1px solid #27ae60;
                            color: #27ae60;
                        }
                        
                        .order form .inputBox .input input:focus {
                            color: #27ae60;
                            background: #192a56;
                        }
                        
                        .order form .inputBox .input textarea:focus {
                            color: #192a56;
                            background: #27ae60;
                        }
                        
                        .order form .inputBox .input textarea {
                            height: 170px;
                            resize: none;
                        }
                        
                        .order form .btn {
                            margin-top: 0;
                        }
                        /*------------order section end-------------*/
                        /*------------footer section end-------------*/
                        
                        .footer .box-container {
                            padding: 10px 0;
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                            gap: 20px;
                            justify-content: center;
                        }
                        
                        .footer .box-container .box h3 {
                            padding: 8px 0;
                            font-size: 24px;
                            color: #192a56;
                        }
                        
                        .footer .box-container .box a {
                            display: block;
                            padding: 5px 0;
                            font-size: 17px;
                            color: #666;
                        }
                        
                        .footer .box-container .box a:hover {
                            color: #27ae60;
                            text-decoration: underline;
                        }
                        
                        .footer .credit {
                            text-align: center;
                            border-top: 2px solid rgba(0, 0, 0, .1);
                            font-size: 20px;
                            color: #192a56;
                            padding: 5px;
                            padding-top: 18px;
                            margin-top: 18px;
                        }
                        
                        .footer .credit span {
                            color: #27ae60;
                        }
                        /*------------------- media queries------------- */
                        
                        @media (max-width: 1100px) {
                            .review-container {
                                grid-template-columns: 50% 50%;
                            }
                        }
                        
                        @media (max-width:991px) {
                            div {
                                font-size: 15px;
                            }
                            header {
                                padding: 8px 12px;
                            }
                            section {
                                padding: 10px;
                            }
                            .order form .inputBox .input {
                                width: 100%;
                            }
                            .review-container {
                                grid-template-columns: 50% 50%;
                            }
                            .review-container .review .slide h1 {
                                font-size: 10px;
                            }
                        }
                        
                        @media (max-width:870px) {
                            header .icons #menu-bars {
                                display: inline-block;
                            }
                            div {
                                font-size: 12px;
                            }
                            header .navbar {
                                top: 6%;
                                left: 0;
                                right: 0;
                                background: #fff;
                                padding: 8px;
                            }
                            header .navbar a {
                                display: block;
                                padding: 12px;
                                margin: 12px;
                                font-size: 18px;
                                background: #eee;
                                display: none;
                            }
                            .dishes .box-container .box img {
                                height: auto;
                                width: 100%;
                            }
                            .review-container {
                                grid-template-columns: 100%;
                            }
                        }
                        
                        @media (max-width:500px) {
                            .review-container {
                                grid-template-columns: 100%;
                                height: 50%;
                            }
                        }
                        
                        @media (max-width:400px) {
                            .review-container {
                                grid-template-columns: 100%;
                                height: 50%;
                            }
                            form {
                                height: 80%;
                            }
                            .box-container .box {
                                width: 100%;
                            }
                            .dishes .box-container .box {
                                width: 86%;
                            }
                            .about .row {
                                display: grid;
                            }
                        }
                        
                        @media (max-width:301px) {
                            header .logo {
                                font-size: 22px;
                                display: flex;
                            }
                            h1 h3 {
                                font-size: 15px;
                            }
                            div {
                                width: 100%;
                                font-size: 10px;
                            }
                            .icons {
                                display: none;
                            }
                            .icons #menu-bars {
                                display: block;
                            }
                            .home .home-slider .slide {
                                gap: 40px;
                            }
                            .menu .box-container .box {
                                width: 65%;
                            }
                        }